<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="URFU.ASOAD.Core.Exceptions" switchValue="Verbose">
        <listeners>
          <clear/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlFile" type="System.Diagnostics.XmlWriterTraceListener" traceOutputOptions="DateTime" initializeData=".\trace.svclog" />
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime"  />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>